            <h2 class="content-subhead">Grafieken</h2>
            
        
        <div id="responsetime" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        <br><br>
        <div id="translijntje" style="min-width: 400px; height: 400px; margin: 0 auto"></div>  
        <br><br>
        <div id="transactionrate" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
        <br><br>
        <div id="elapsedtime" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
         

            <h2 class="content-subhead">Conclusie</h2>
            <p>
                ...
            </p>
        </div>
    </div>
</div>
</body>
</html>